.ngx-charts-tooltip-content.type-tooltip {
  background-color: #04838f !important;
  padding: 0.5rem 1.5rem !important;
  font-size: 16px !important;
}

.tooltip-caret {
  border-top: 15px solid #04838f !important;
  border-left: 15px solid transparent !important;
  border-right: 15px solid transparent !important;
  width: 2rem !important;
}

.pie-label {
  font-size: 20px !important;
}

.mainpie {
  padding: 3rem;
  height: calc(100vh - 12rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  /*height: calc(100vh - 24rem);*/
}

.statsnTitleContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;
  margin-bottom: 2rem;
}

.piechartTitle {
  background-color: #04838f;
  color: #ffffffff;
  border-radius: 6px;
  padding: 0.5rem 2rem;
  font-weight: 500;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 8px 16px #04838f33;
}

.statsContainer {
  display: flex;
  column-gap: 3rem;
}

.statsContainer div {
  border-radius: 6px;
  border: 3px solid #04838f;
  width: 240px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0;
  box-shadow: 0 8px 16px #04838f33;
}

.statsContainer p {
  display: flex;
  justify-content: center;
}
