<div style="height:100vh">
    <div *ngIf="pieDatas" style='display:flex; flex-direction: column;'>
        <div>
            <p>Number of JOs</p>
            <p>{{pieDatas.length}}</p>
        </div>
        <div>
            <p>Number of Countries</p>
            <p>{{pieDatas.length}}</p>
        </div>
        <ngx-charts-pie-chart [results]="pieDatas" [labels]="true" [scheme]="colorScheme" [labelFormatting]="setLabelFormatting" (select)="onSelect($event)">

        </ngx-charts-pie-chart>
    </div>
</div>