<main class="mainLineChart" *ngIf="linechartDatas">
    <div class="titlenStatsContainer">
        <h1>{{countryName}} | dont forget back button</h1>
        <div class="statsCells">
            <div>
                <p>Number of entries</p>
                <p class="stat">{{linechartDatas[0].series.length}}</p>
            </div>
            <div>
                <p>Total number of medals</p>
                <p class="stat">{{totalMedals}}</p>
            </div>
            <div>
                <p>Total number of athletes</p>
                <p class="stat">{{totalAthletes}}</p>
            </div>
        </div>
    </div>
    <ngx-charts-line-chart [results]="linechartDatas" [xAxis]="true" [yAxis]="true" [showGridLines]="true" [view]="[840,400]" [yAxisTicks]="YticksList">

    </ngx-charts-line-chart>
</main>